 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
 body{
        font-family: 'Roboto' , sans-serif;
        background-color: #ec0c96;
        color:#550a8b

        
       
 
    }

    a :link{
        color:#3392ff
      }
      a:visited {
        color:#ffad33;
        
        a:hover{
            color: #3399ff;
          }
          a:active {
            color: #33ccff
          }