 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
 body{
        font-family: 'Roboto' , sans-serif;
        background-color: #e0007b;
        color:#470271

        
       
 
    }

    a:link {
        color: #ffd103;
      }
      
      a:visited {
       color:#0088ff ;
      }
        a:hover {
            color: #c40000
          }
          a:active {
            color: #19fa4a
          }